<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th v-for="fieldConfig in config">
                    {{ fieldConfig.label }}
                </th>
            </tr>
            </thead>
            <tbody>
            <table-row v-for="(row, index) in rows"
                       @edited="onEdit"
                       @removed="onRemove"
                       :fieldsConfig="config"
                       :index="index"
                       :row="row">
            </table-row>
            </tbody>
        </table>
        <div class="pull-right">
            <button class="btn btn-default"
                    @click="onAdd">
                Add row
            </button>
        </div>
    </div>
</template>

<script>
    import TableRow from '@/components/TableRow';
    import RowsResource from '@/resources/Rows';

    export default {
        async created() {
            const response = await RowsResource.all();
            this.rows = response.body.rows;
        },
        data() {
            return {
                rows: [],
                config: [
                    {
                        name: 'firstName',
                        label: 'First name',
                    },
                    {
                        name: 'lastName',
                        label: 'Last name',
                    },
                    {
                        name: 'userName',
                        label: 'Username',
                    },
                ],
            };
        },
        methods: {
            onEdit(event) {
                const row = event.newValue;
                const id = row.id;
                const index = event.index;

                this.rows.splice(index, 1, row);
                RowsResource.update({id}, row);
            },
            onRemove(event) {
                this.rows.splice(event.index, 1);

                RowsResource.delete({id: event.id});
            },
            async onAdd() {
                const response = await RowsResource.save({}, {
                    firstName: '',
                    lastName: '',
                    userName: '',
                });

                this.rows.push(response.body);
            },
        },
        components: {
            TableRow,
        },
    };
</script>
