<template>
    <td @click="edit">
        <div v-if="editOn">
            <input v-on-click-away="save"
                   :value="item"
                   ref="input"/>
        </div>
        <div class="table-data" v-else>
            {{ item }}
        </div>
    </td>
</template>

<script>
    import {directive as onClickAway} from 'vue-clickaway';

    export default {
        props: {
            item: {
                type: String,
                required: true,
            },
            field: {
                type: String,
                required: true,
            },
        },
        data() {
            return {
                editOn: false,
            };
        },
        methods: {
            edit() {
                this.editOn = true;
                this.$nextTick(() => {
                    this.$refs.input.focus();
                });
            },
            save() {
                this.editOn = false;
                this.$emit('edited', {
                    field: this.field,
                    newValue: this.$refs.input.value,
                });
            },
        },
        directives: {
            onClickAway,
        },
    };
</script>

<style scoped>
    .table-data {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
    }
</style> 
