<template>
    <tr>
        <td class="col-md-1">
            {{ index + 1 }}
        </td>
        <table-data class="col-md-3"
                    @edited="onEdit"
                    v-for="fieldConfig in fieldsConfig"
                    :item="row[fieldConfig.name]"
                    :field="fieldConfig.name">
        </table-data>
        <td class="col-md-1">
            <button @click="onRemove"
                    class="btn btn-danger">
                Remove
            </button>
        </td>
    </tr>
</template>

<script>
    import TableData from '@/components/TableData';

    export default {
        props: {
            row: {
                type: Object,
                required: true,
            },
            index: {
                type: Number,
                required: true,
            },
            fieldsConfig: {
                type: Array,
                required: true,
            },
        },
        methods: {
            onEdit(event) {
                this.$emit('edited', {
                    index: this.index,
                    newValue: {
                        ...this.row,
                        [event.field]: event.newValue,
                    },
                });
            },
            onRemove() {
                this.$emit('removed', {
                    index: this.index,
                    id: this.row.id,
                });
            },
        },
        components: {
            TableData,
        },
    };
</script>

<style scoped>

</style> 
