<template>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-12">
                <editable-table></editable-table>
            </div>
        </div>
    </div>
</template>

<script>
    import EditableTable from './components/EditableTable';

    export default {
        components: {
            EditableTable,
        },
    };
</script>

<style scoped>
    #app {
        margin-top: 60px;
    }
</style>
